@import "../font/CMUSerif/stylesheet.css";
@import "../font/latin-modern/stylesheet.css";

body {
  //font-family: "Times New Roman", serif;
  font-family: "CMU Serif", "Times New Roman", serif;
  font-size: 1rem;
  line-height: 1.2rem;
  --text-color: #000;
  color: var(--text-color);
  --page-margin: 22mm;

  //-webkit-font-smoothing: antialiased;
  //text-rendering: geometricPrecision;
  //-moz-osx-font-smoothing: grayscale;

  --text-color: #000;
  --color-link: #1565c0;
  color: var(--text-color);

  --page-margin: 22mm;
}

//ul, li {
//  margin: 0;
//  padding: 0;
//  list-style-type: none;
//}
//
//.li {
//  padding: 3px 0;
//}


code {
  font-family: 'LMMono10', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  background-color: #eee;
  border-radius: 3px;
  padding: 1px 3px;
}

pre.highlight {
  margin: 10px 0;
}

pre.highlight, pre.highlight > code {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background: #f4f4f4;
  border-radius: 3px;
  color: #333;
  padding: 11px;
  text-align: left;
  max-width: 100%;
  overflow: auto;
  overflow: overlay;
  scrollbar-width: thin;
  user-select: text !important;
  -webkit-user-select: text !important;
  cursor: text !important;
}

pre.highlight > code {
  font-size: unset;
  line-height: unset;
  background-color: unset;
  border-radius: unset;
  padding: unset;
}

.nav-container {
  min-width: 200px;
}

.wrapper {
  max-width: 1140px;
  padding: 0;
  margin: auto;
}

@media (max-width: 920px) {
  .wrapper {
    margin: 0 10px;
  }
}

.body {
  display: flex;
}

.doc {
  font-size: 0.95rem;
  line-height: 1.2rem;

  a, a:link {
    color: #1d427b;
    &:hover {
      text-decoration: underline;
    }
  }
}

button.big, a.button.big, a.button.big:link, a.big, a.big:link {
  user-select: none;
  border: 0;
  display: inline-block;
  background: #2B3034;
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 15px;
  font-family: Montserrat, verdana, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 40px;
  text-decoration: none !important;

  &:hover {
    color: #eee;
    background: #494f53;
  }
}


h1 {
  font-size: 1.35rem;
  line-height: 1.5rem;
  letter-spacing: -.055rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.sect1 > h2 {
  break-before: page;
}

#toctitle,
h2 {
  font-size: 1.25rem;
  line-height: 1.35rem;
  letter-spacing: -.055rem;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

h2 {
  string-set: title content(text);
}

.imageblock {
  padding: 25px 0;
  margin: 0 -30px;

  img {
    max-width: 100%;
  }
}

p {
  margin: 0;
  text-align: justify;
}

.paragraph + .paragraph,
p + p {
  margin-top: 15px;
}

#header {
  h1 {
    text-align: center;
  }

  .details {
    text-align: center;
    margin-top: 1.1rem;
    margin-bottom: 2rem;
    font-size: 0.91rem;
    line-height: 2.15rem;
  }
}


a, a:link {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    color: var(--color-link);
  }
}

li.nav-item.is-current-page {
  > a, > a:link {
    color: var(--color-link);
  }
}

a.is-current-page, a:link.is-current-page {
  color: var(--color-link);
}

/* Better tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  margin: 30px 0;
  max-width: 100%;
  border-top: 2.27px solid black;
  border-bottom: 2.27px solid black;
  /* display: block; */
  overflow-x: auto; /* does not work because element is not block */
  /* white-space: nowrap; */
  counter-increment: caption;
}

/* add bottom border on column table headings  */
table tr > th[scope='col'] {
  border-bottom: 1.36px solid black;
}

/* add right border on row table headings  */
table tr > th[scope='row'] {
  border-right: 1.36px solid black;
}

table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
  border-top: 1.36px solid black;
}

table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th {
  border-bottom: 1.36px solid black;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  line-height: 1.1;
}

main.article {
  //overflow-x: hidden;
  max-width: 100%;
}

//
//main {
//  flex: 1;
//}
//
//.content {
//  display: flex;
//  justify-content: space-between;
//}
//
//.doc {
//  max-width: 800px;
//  margin: 0 auto;
//  padding: 0 1rem 4rem;
//}
//
.toc {
  order: 1;
}

.toc.embedded {
  display: none;
}

.toc-menu {
  color: #5d5d5d
}

.toc.sidebar .toc-menu {
  margin-right: .75rem;
  position: sticky;
  top: 1rem;
  /*top: 6rem*/
}

.toc .toc-menu h3 {
  color: #333;
  font-size: .88889rem;
  font-weight: 500;
  line-height: 1.3;
  margin: 0 -.5px;
  padding-bottom: .25rem
}

.toc.sidebar .toc-menu h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 2.5rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.toc .toc-menu ul {
  font-size: .83333rem;
  line-height: 1.2;
  list-style: none;
  margin: 0;
  padding: 0
}

.toc.sidebar .toc-menu ul {
  max-height: calc(100vh - 5.5rem);
  overflow-y: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}

@supports (scrollbar-width:none) {
  .toc.sidebar .toc-menu ul {
    scrollbar-width: none
  }
}

.toc .toc-menu ul::-webkit-scrollbar {
  width: 0;
  height: 0
}

@media screen and (min-width: 1024px) {
  .toc .toc-menu h3 {
    font-size: .83333rem
  }

  .toc .toc-menu ul {
    font-size: .75rem
  }
}

.toc .toc-menu li {
  margin: 0
}

.toc .toc-menu li[data-level="2"] a {
  padding-left: 1.25rem
}

.toc .toc-menu li[data-level="3"] a {
  padding-left: 2rem
}

.toc .toc-menu a {
  color: inherit;
  border-left: 2px solid #e1e1e1;
  display: inline-block;
  padding: .25rem 0 .25rem .5rem;
  text-decoration: none
}

.sidebar.toc .toc-menu a {
  display: block;
  outline: none
}

.toc .toc-menu a:hover {
  color: #1565c0
}

.toc .toc-menu a.is-active {
  border-left-color: #1565c0;
  color: #333
}

.sidebar.toc .toc-menu a:focus {
  background: #fafafa
}

.toc .toc-menu .is-hidden-toc {
  display: none !important
}

