<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
  <div class="wrapper">
    {{> header}}
    {{> body}}
    {{> footer}}
  </div>
    <script src="{{{uiRootPath}}}/js/prism.js"></script>
    <link rel="stylesheet" href="{{{uiRootPath}}}/css/prism.css">
<!--    <script>-->
<!--        class MyHandler extends Paged.Handler {-->
<!--            afterPreview(pageFragment, page) {-->
<!--                Prism.highlightAll()-->
<!--            }-->
<!--        }-->
<!--        Paged.registerHandlers(MyHandler);-->
<!--    </script>-->
  </body>
</html>
