<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="panels">
        <div style="padding: 30px 0;">
            <a href="https://deepkit.io/framework">
                <img src="{{uiRootPath}}/img/deepkit_text.svg" style="height: 26px;"/>
            </a>
        </div>

{{#if page.component}}
    <a href="/deepkit-book-{{page.component.name}}.html">eBook Version</a>
{{/if}}

{{> nav-explore}}
{{> nav-menu}}
    </div>
  </aside>
</div>
