@import url("https://fonts.googleapis.com/css?family=Fondamento:400,400i|Neuton:400,400i,700|Vollkorn:400,400i,700,700i&subset=latin-ext");
@import "./fonts/CMUSerif/stylesheet.css";
@import "./fonts/latin-modern/stylesheet.css";
body {
  font-family: "CMU Serif", "Times New Roman", serif;
  font-size: 0.8rem;
  line-height: 1rem;
  --text-color: #000;
  color: var(--text-color);
  --page-margin: 22mm;
}

h1 {
  font-size: 1.35rem;
  line-height: 1.5rem;
  letter-spacing: -0.055rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.sect1 > h2 {
  break-before: page;
}

#toctitle,
h2 {
  font-size: 1.25rem;
  line-height: 1.35rem;
  letter-spacing: -0.055rem;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

h2 {
  string-set: title content(text);
}

.imageblock {
  padding: 25px 0;
  margin: 0 -100px;
}
.imageblock img {
  max-width: 100%;
}

p {
  margin: 0;
  text-align: justify;
}

.paragraph + .paragraph,
p + p {
  margin-top: 15px;
}

#header h1 {
  text-align: center;
}
#header .details {
  text-align: center;
  margin-top: 1.1rem;
  margin-bottom: 2rem;
  font-size: 0.91rem;
  line-height: 2.15rem;
}

#toc li a::after {
  float: right;
  position: relative;
  width: 1.5rem;
  text-align: right;
  display: block;
  background: white;
  content: target-counter(attr(href), page);
}

#toc ul, #toc li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#toc ul:not(.sectlevel1) li {
  overflow: hidden;
  position: relative;
}
#toc ul:not(.sectlevel1) li::before {
  position: absolute;
  right: 0;
  text-align: right;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
}
#toc ul:not(.sectlevel1) li a {
  position: relative;
  background: white;
  padding-right: 1rem;
}
#toc ul:not(.sectlevel1) li a::after {
  float: right;
  background: white;
}
#toc .sectlevel1 > li {
  margin-top: 1rem;
}
#toc .sectlevel1 > li > a {
  font-weight: bold;
}
#toc .sectlevel2 {
  margin-left: 1rem;
}
#toc .sectlevel3,
#toc .sectlevel4,
#toc .sectlevel5 {
  margin-left: 1.7rem;
}

a, a:link {
  text-decoration: none;
  color: var(--text-color);
}

@page {
  size: 8in 10.5in;
  margin: 1.75in;
  padding: 0;
  marks: crop;
  bleed: 0;
  trim: 0;
  pdf-page-colorspace: rgb;
}
@page :left {
  margin-left: 1.75in;
  margin-right: 1.75in;
}
@page :right {
  margin-left: 1.75in;
  margin-right: 1.75in;
}
@page {
  @bottom-center {
    content: counter(page);
  }
}
@media only screen {
  html {
    background-color: #eee;
    padding: 15pt;
  }

  .pagedjs_page {
    background-color: white;
    box-shadow: 0px 0px 0.1px lightblue;
    margin-bottom: 15pt;
  }

  .pagedjs_left_page {
    float: left;
  }

  .pagedjs_right_page {
    margin-left: 8.2in;
  }

  .pagedjs_first_page {
    margin-left: 0;
  }
}
.chapter {
  page: chapter;
  break-before: recto;
}

@media (max-width: 550px) {
  html, body {
    padding: 0;
    margin: 0;
  }
}
body > div:not(.pagedjs_pages) {
  background-color: white;
  margin: auto;
  max-width: 730px;
  overflow: hidden;
  padding: 25px;
  font-size: 0.95rem;
  line-height: 1.2rem;
}
body > div:not(.pagedjs_pages) > * {
  max-width: 510px;
  margin: auto;
}
body > div:not(.pagedjs_pages) > * h2 {
  margin-top: 150px;
}
body > div:not(.pagedjs_pages) code, body > div:not(.pagedjs_pages) pre {
  font-size: 0.9rem;
  line-height: 1.1rem;
}

/* Better tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  margin: 30px 0;
  max-width: 100%;
  border-top: 2.27px solid black;
  border-bottom: 2.27px solid black;
  /* display: block; */
  overflow-x: auto;
  /* does not work because element is not block */
  /* white-space: nowrap; */
  counter-increment: caption;
}

/* add bottom border on column table headings  */
table tr > th[scope=col] {
  border-bottom: 1.36px solid black;
}

/* add right border on row table headings  */
table tr > th[scope=row] {
  border-right: 1.36px solid black;
}

table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
  border-top: 1.36px solid black;
}

table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th {
  border-bottom: 1.36px solid black;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  line-height: 1.1;
}

/*# sourceMappingURL=style.css.map */
